 body {
    background: #ffad41;
}

.todo-container{
    background: #292121;
    width: 40vw;
    margin: 10rem auto;
    border-radius: 10px;
    padding: 20px 10px;
    color: #ffffff;
    border: 3px solid #246ec2
}

.task{
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
}

.header{
    margin: 0.5em;
    font-size: 2em;
    text-align: center;
}

.create-task{

}